@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color : #17191e;
    --secondary-color : #1e2028;
    --third-color: #313543;
    --fourth-color: #414559;

    --text-color : #3498db ; 
    --neutral-color: #7f8c8d;
}
body {
    position: relative;
   background-color: var(--background-color);
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.header{
    
    text-align: center;
    h1{
        color: var(--text-color);
        font-size: 4rem;
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;

    }
}
.container{
    flex: 1;
    display: flex;
    align-items: center;

    .dialpad{
       background-color: var(--secondary-color);
        width: 35%;
        display: inline-flex;
        margin-left: 50px;
        border-radius: 20px;
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0,  
        0.23) 0px 6px 6px;



        span{
            font-family: "Kalam", cursive;
        display: flex;
        background-color: var(--third-color);
        color: white;
        margin: 5px;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        height: 110px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        
    }
    span:hover{
        animation: HovAni 0.5s ease;
    }
    
}
}
@keyframes HovAni {
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.95);
    }
}
.click_animationn{
    transform: scale(1.05);
    transition: transform 0.2s ease;
}




/* result tab */

.container {
    .calculations
   {
       flex: 1;
       display: flex;
       flex-direction: column;
       background-color: white;
       background-color: var(--secondary-color);
       box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0,  
       0.23) 0px 6px 6px;
       
       height: 80vh;
       margin: 0 50px;
       border-radius: 20px;
       padding: 8px;
     
        .C_sp{
            display: flex;
            background-color: var(--third-color);
            height: 80px;
            width: 100%;
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            font-size: 3.5rem;
            align-items: center;
            color: white;
            letter-spacing: 20px;
            padding-left: 40px;
        }
        .result{
            flex: 1;
            border-radius: 12px;
            margin-top: 8px;
            display: flex;
            .repeated{
                overflow: hidden;
                background-color: var(--third-color);
                flex: 0.5;
                border-radius: 12px;
                margin-right: 5px;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;                h2{
                    font-family: "Cinzel", serif;
                    color: var(--text-color);
                    text-align: center;
                    font-size: 2rem;
                   
                }
            }
            .non-repeated{
                overflow: hidden;
                background-color: var(--third-color);
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                
                flex: 0.5;
                margin-left: 5px;
                border-radius: 12px;
               h2{
                font-family: "Cinzel", serif;
                color: var(--text-color);
                text-align: center;
                font-size: 2rem;
               }


           }
        }
    }}


    /* font */

    .font_med{
        font-size: 2rem;
        display: flex;
        color: white;
        font-family: "Cinzel", serif;
        letter-spacing: 5px;
        margin: 10px;
    }

    .display{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        span{
            font-family: "Kalam", cursive;
           color: white;
           font-size: 2rem;
           margin-left: 20px;
        }
    }